* {
  box-sizing: border-box;
}

#weather-display {
  width: 100%;
  min-height: 60svh;
  display: flex;
  justify-content: space-around;
}

#forecast-display {
  width: 100%;
  display: flex;
  justify-content: space-around;
}